Options -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} ^sign-a-pdf\.com$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^signer-un-pdf\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www.signer-un-pdf\.fr$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.com/fr/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^sign-a-pdf\.test$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.test/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^signer-un-pdf\.test [OR]
RewriteCond %{HTTP_HOST} ^www.signer-un-pdf\.test$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.test/fr/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^(en|fr)/docs/([a-f0-9]{16})/?$" index.php?lang=$1&page=docs&pdf_id=$2&%{QUERY_STRING} [L]
RewriteRule "^(en|fr)/?([a-z0-9\-]*)/?$" index.php?lang=$1&page=$2&%{QUERY_STRING} [L]

order allow,deny
allow from all

#ErrorDocument 403 'Not for you'

#Me
#deny from 127.0.0.1
#deny from 82.64.18.12

#individual access attempts to /wp-admin/ etc
deny from 104.23.223.0/8
deny from 172.70.248.0/8
deny from 162.158.182.0/8
deny from 185.213.174.125
deny from 92.118.39.126
deny from 206.81.12.187
