Options -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} ^sign-a-pdf\.com$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^signer-un-pdf\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www.signer-un-pdf\.fr$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.com/fr/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^sign-a-pdf\.test$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.test/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^signer-un-pdf\.test [OR]
RewriteCond %{HTTP_HOST} ^www.signer-un-pdf\.test$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.test/fr/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^(en|fr)/docs/([a-f0-9]{16})/?$" index.php?lang=$1&page=docs&pdf_id=$2&%{QUERY_STRING} [L]
RewriteRule "^(en|fr)/?([a-z0-9\-]*)/?$" index.php?lang=$1&page=$2&%{QUERY_STRING} [L]

order allow,deny
allow from all

#ErrorDocument 403 'Not for you'

#Me
#deny from 127.0.0.1
#deny from 82.64.18.12

#individual access attempts to /wp-admin/ etc
deny from 34.78.0.85
deny from 92.118.39.126
deny from 104.23.217.0/24
deny from 104.23.221.0/24
deny from 104.23.223.0/24
deny from 104.23.239.0/24
deny from 156.227.28.9
deny from 162.158.86.0/24
deny from 162.158.87.0/24
deny from 162.158.110.94
deny from 162.158.111.146
deny from 162.158.182.0/24
deny from 172.64.192.0/24
deny from 172.68.10.0/24
deny from 172.68.193.0/24
deny from 172.69.50.234
deny from 172.68.229.0/24
deny from 172.69.150.46
deny from 172.69.151.0/24
deny from 172.70.240.108
deny from 172.70.242.68
deny from 172.70.246.80
deny from 172.70.248.0/24
deny from 172.71.144.142
deny from 172.71.148.0/24
deny from 172.71.164.0/24
deny from 172.71.172.0/24
deny from 172.71.178.136
deny from 172.71.184.0/24
deny from 185.213.174.125
deny from 203.86.234.32
deny from 206.81.12.187
deny from 217.216.73.243
