Options -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} ^sign-a-pdf\.test$ [NC]
RewriteRule ^(.*)$ http://www.sign-a-pdf.test/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^(en|fr)/docs/([a-f0-9]{16})/?$" index.php?lang=$1&page=docs&pdf_id=$2&%{QUERY_STRING} [L]
RewriteRule "^(en|fr)/?([a-z0-9\-]*)/?$" index.php?lang=$1&page=$2&%{QUERY_STRING} [L]
